#documentclass without options
snippet dcl \documentclass{}
	\\documentclass{${1:class}} ${0}
#documentclass with options
snippet dclo \documentclass[]{}
	\\documentclass[${1:options}]{${2:class}} ${0}# Signature
